# Introduction

Incorporating Census Tract Level median household income data, I want to see what types of venues are more common in low, medium and high income areas of Washington, DC.

### Census Tract Coordinates JSON

hidden cell below uploading json of a shape file from US Census detailing geographical coordinates of census tracts in Washington, DC

In [2]:
# The code was removed by Watson Studio for sharing.

In [3]:
import json

census_data = json.loads(body)

In [4]:
tract_data = census_data['features']

tract_data[0]

{'type': 'Feature',
 'geometry': {'type': 'Polygon',
  'coordinates': [[[-77.0365, 38.919284],
    [-77.03649399999999, 38.919861],
    [-77.036496, 38.920313],
    [-77.03649399999999, 38.920364],
    [-77.036489, 38.920964],
    [-77.03649, 38.921673],
    [-77.036487, 38.922609],
    [-77.03648799999999, 38.922731999999996],
    [-77.036491, 38.923179999999995],
    [-77.036492, 38.923207999999995],
    [-77.036491, 38.923249999999996],
    [-77.036489, 38.92342],
    [-77.036489, 38.924226999999995],
    [-77.036484, 38.924765],
    [-77.03648299999999, 38.924825999999996],
    [-77.036486, 38.925604],
    [-77.036486, 38.925793],
    [-77.036487, 38.92588],
    [-77.03648799999999, 38.926183],
    [-77.036489, 38.926272],
    [-77.036335, 38.926294],
    [-77.035988, 38.92631],
    [-77.035484, 38.926325],
    [-77.034943, 38.926353999999996],
    [-77.033605, 38.926435999999995],
    [-77.033114, 38.926463999999996],
    [-77.032721, 38.926488],
    [-77.032629, 38.926500999999995],
    [-77.03252499999999, 38.926527],
    [-77.03240699999999, 38.926573],
    [-77.032339, 38.925742],
    [-77.032331, 38.925652],
    [-77.032316, 38.925502],
    [-77.032309, 38.925424],
    [-77.03224999999999, 38.924827],
    [-77.032242, 38.924755999999995],
    [-77.03222, 38.924541],
    [-77.03219299999999, 38.924284],
    [-77.03214299999999, 38.923763],
    [-77.03213199999999, 38.923635],
    [-77.032072, 38.923012],
    [-77.032038, 38.922686],
    [-77.03201, 38.922428],
    [-77.03200199999999, 38.922342],
    [-77.03193, 38.921659999999996],
    [-77.03187299999999, 38.921085999999995],
    [-77.031865, 38.920998],
    [-77.031841, 38.920756],
    [-77.03183899999999, 38.92068],
    [-77.03183899999999, 38.92064],
    [-77.03184, 38.920601],
    [-77.031841, 38.920556],
    [-77.03184399999999, 38.920511],
    [-77.031853, 38.920415999999996],
    [-77.031866, 38.920322],
    [-77.031932, 38.920106],
    [-77.031941, 38.920063999999996],
    [-77.03222099999999, 38.920006],
    [-77.03329699999999, 38.919768],
    [-77.03356699999999, 38.919706999999995],
    [-77.033895, 38.91964],
    [-77.033936, 38.919627999999996],
    [-77.033974, 38.919613],
    [-77.03401, 38.919594],
    [-77.034043, 38.919571999999995],
    [-77.03407299999999, 38.919548],
    [-77.03410000000001, 38.919520999999996],
    [-77.03433299999999, 38.919270999999995],
    [-77.034414, 38.919183],
    [-77.03472599999999, 38.919179],
    [-77.03486, 38.91918],
    [-77.035493, 38.919182],
    [-77.035913, 38.919182],
    [-77.036318, 38.919183],
    [-77.036356, 38.919182],
    [-77.036496, 38.919145],
    [-77.0365, 38.919284]]]},
 'properties': {'STATEFP': '11',
  'COUNTYFP': '001',
  'TRACTCE': '003700',
  'GEOID': '11001003700',
  'NAME': '37',
  'NAMELSAD': 'Census Tract 37',
  'MTFCC': 'G5020',
  'FUNCSTAT': 'S',
  'ALAND': 292372,
  'AWATER': 0,
  'INTPTLAT': '+38.9228614',
  'INTPTLON': '-077.0343330'}}

In [5]:
column_names = ['Fips Code', 'Census Tract', 'Latitude', 'Longitude']

washDC = pd.DataFrame(columns=column_names)

washDC

Empty DataFrame
Columns: [Fips Code, Census Tract, Latitude, Longitude]
Index: []

In [6]:
for data in tract_data:
    GEOID = data['properties']['GEOID']
    tractno = data['properties']['NAME']
    coord = data['geometry']['coordinates']
    lats=[]
    lngs=[]
    for i in coord[0]:
        lats.append(i[1])
        lngs.append(i[0])
        
    lat = sum(lats)/len(lats)
    lng = sum(lngs)/len(lngs)
    
    washDC = washDC.append({'Fips Code': GEOID,
                            'Census Tract': tractno,
                            'Latitude':lat,
                            'Longitude':lng}, ignore_index=True)

In [7]:
washDC.head()

     Fips Code Census Tract   Latitude  Longitude
0  11001003700           37  38.922393 -77.034116
1  11001003800           38  38.920951 -77.039831
2  11001004001        40.01  38.920295 -77.046168
3  11001004002        40.02  38.918421 -77.043794
4  11001003600           36  38.923503 -77.030032

### Census Tract Income Data

hidden cell below with my credentials uploading a CSV file of median household income from opendata.dc.gov

In [8]:
# The code was removed by Watson Studio for sharing.

In [9]:
median_inc = pd.read_csv(body2)
median_inc.head()

,OBJECTID,GEOID,ALAND,AWATER,NAME,State,County,B19049_001E,B19049_001M,B19049_002E,...,B19053_002E,B19053_002M,B19053_003E,B19053_003M,B19053_calc_pctSelfempE,B19053_calc_pctSelfempM,Shape__Area,Shape__Length,Shape__Area_2,Shape__Length_2
0,1,11001000100,1907610,512798,Census Tract 1,District of Columbia,District of Columbia,191146.0,25411.0,NaN,...,358,97,1993,197,15.2,3.946100,3.157970e+06,16275.593084,3.157970e+06,16275.593084
1,2,11001000201,503312,0,Census Tract 2.01,District of Columbia,District of Columbia,NaN,NaN,NaN,...,0,12,0,12,NaN,NaN,8.324142e+05,4265.956241,8.324142e+05,4265.956241
2,3,11001000202,776437,428754,Census Tract 2.02,District of Columbia,District of Columbia,170987.0,28290.0,NaN,...,313,125,1250,179,20.0,7.753475,1.284189e+06,13196.755434,1.284189e+06,13196.755434
3,4,11001000300,1010802,2334,Census Tract 3,District of Columbia,District of Columbia,152120.0,21528.0,36047.0,...,245,99,2210,149,10.0,4.007263,1.675991e+06,5244.314206,1.675991e+06,5244.314206
4,5,11001000400,1542759,69,Census Tract 4,District of Columbia,District of Columbia,126731.0,38147.0,NaN,...,115,34,503,54,18.6,5.265075,2.552695e+06,7468.467697,2.552695e+06,7468.467697

In [10]:
dc_income = median_inc[['GEOID','NAME','B19049_001E','B19053_001E']]
dc_income.head()

         GEOID               NAME  B19049_001E  B19053_001E
0  11001000100     Census Tract 1     191146.0         2351
1  11001000201  Census Tract 2.01          NaN            0
2  11001000202  Census Tract 2.02     170987.0         1563
3  11001000300     Census Tract 3     152120.0         2455
4  11001000400     Census Tract 4     126731.0          618

In [11]:
dc_income.rename(columns={'B19049_001E':'Median_Household_Income', 'B19053_001E':'Total_Households'},inplace=True)
dc_income.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

         GEOID               NAME  Median_Household_Income  Total_Households
0  11001000100     Census Tract 1                 191146.0              2351
1  11001000201  Census Tract 2.01                      NaN                 0
2  11001000202  Census Tract 2.02                 170987.0              1563
3  11001000300     Census Tract 3                 152120.0              2455
4  11001000400     Census Tract 4                 126731.0               618

In [12]:
dc_income.dropna(inplace=True)
dc_income.reset_index(drop=True, inplace=True)
dc_income.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

         GEOID               NAME  Median_Household_Income  Total_Households
0  11001000100     Census Tract 1                 191146.0              2351
1  11001000202  Census Tract 2.02                 170987.0              1563
2  11001000300     Census Tract 3                 152120.0              2455
3  11001000400     Census Tract 4                 126731.0               618
4  11001000501  Census Tract 5.01                 116303.0              1888

In [14]:
dc_income.describe()

              GEOID  Median_Household_Income  Total_Households
count  1.770000e+02                177.00000        177.000000
mean   1.100101e+10              87428.00000       1589.169492
std    3.264192e+03              46242.09342        729.377096
min    1.100100e+10              13750.00000         32.000000
25%    1.100100e+10              45278.00000       1101.000000
50%    1.100101e+10              84375.00000       1428.000000
75%    1.100101e+10             115667.00000       1875.000000
max    1.100101e+10             250001.00000       4811.000000