In [1]:
import pandas as pd

In [82]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

scraping the data using pandas into a list of dataframes

In [83]:
df = pd.read_html(url)

indexing the first element of the list to create our data frame

In [84]:
df_tor = df[0]

In [85]:
df_tor.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

dropping rows where the Borough is not assigned

In [86]:
df_tor.drop(df_tor.loc[df_tor['Borough']=='Not assigned'].index, inplace=True)
df_tor.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

looking for rows where the Neighbourhood is Not assigned but there aren't any once the Borough-less rows were removed

In [87]:
df_tor.loc[df_tor['Neighbourhood']=='Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

reset the index now that everything is cleaned up

In [88]:
df_tor.reset_index(drop=True,inplace=True)
df_tor.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

showing the shape of the data frame

In [89]:
df_tor.shape

(103, 3)