In [1]:
import pandas as pd

In [82]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

scraping the data using pandas into a list of dataframes

In [83]:
df = pd.read_html(url)

indexing the first element of the list to create our data frame

In [84]:
df_tor = df[0]

In [85]:
df_tor.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

dropping rows where the Borough is not assigned

In [86]:
df_tor.drop(df_tor.loc[df_tor['Borough']=='Not assigned'].index, inplace=True)
df_tor.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

looking for rows where the Neighbourhood is Not assigned but there aren't any once the Borough-less rows were removed

In [87]:
df_tor.loc[df_tor['Neighbourhood']=='Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

reset the index now that everything is cleaned up

In [88]:
df_tor.reset_index(drop=True,inplace=True)
df_tor.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

showing the shape of the data frame

In [89]:
df_tor.shape

(103, 3)

imported the latitude and longitude data to a new dataframe

In [107]:
url2 = 'https://cocl.us/Geospatial_data'
latlng = pd.read_csv(url2)
latlng.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

set the indeces to postal code in both data frames to make joining easier

In [121]:
df_tor.set_index('Postal Code',inplace=True)
latlng.set_index('Postal Code',inplace=True)

In [125]:
df2 = df_tor.join(latlng)
df2.head()

,Borough,Neighbourhood,Latitude,Longitude
Postal Code,,,,
M3A,North York,Parkwoods,43.753259,-79.329656
M4A,North York,Victoria Village,43.725882,-79.315572
M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

reset the index

In [126]:
df2.reset_index(inplace=True)
df2.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494